* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #f2efef; /*világos háttérszín*/
    --surface-color: #34c8e8; /*kártyák háttere*/
    --primary-color: #ff3f98; /*elsődleges szín*/
    --text-color: #ffd43b; /*szöveg színe*/
    --text-muted: #ff9d2f; /*halványított szöveg*/
    --title-color: #ff6b45; /*cím szín*/
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*betűtipus*/
}

nav{
    background-color: var(--primary-color);
}
.navbar-brand{
    color: var(--surface-color) !important; 
}
.nav-item a{
    color: var(--surface-color);
}
.navbar-nav .nav-link.active {
    background-color: var(--surface-color) !important;
    color: var(--primary-color) !important;
}
.nav-link:hover{
    background-color: var(--surface-color);
    color: var(--primary-color);
}

td, th{
	border: 1px solid black;
	text-align: center;
}

/* Gombok teszt */
.probagombok{
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.probagombok p{
    margin: 1px;
    z-index: 100;
    transition: all 0.1s ease;
}
.img-wrapper{
    top: 4px;
    left: 4px;
    width: 0px;
    height: 35px;
    position: absolute;
    display: block;
    overflow: hidden;
    transition: width 0.1s ease;
}
.img{
    width: 100px;
    height: 30px;
    z-index: 99;
}
.probagombok:hover .img-wrapper{
    width: 100px;
}
.probagombok:hover p{
    color: wheat;
}