* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #f2efef; /*világos háttérszín*/
    --surface-color: #34c8e8; /*kártyák háttere*/
    --primary-color: #ff3f98; /*elsődleges szín*/
    --text-color: #ffd43b; /*szöveg színe*/
    --text-hover: #0f0800; /*hover/active szöveg szín*/
    --title-color: #ff6b45; /*cím szín*/
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*betűtipus*/
    /*--background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);*/
    --background: #302b63;
}

body {
    overflow-x: hidden;
    width: 100%;
    /* Sötét lila -> mélykék átmenet */
    background: var(--background);
    background-attachment: fixed; /* Görgetésnél is egyben marad a háttér */
    min-height: 100vh;
    margin: 0;
}

td, th{
    border: 1px solid black;
    text-align: center;
}

/*Űrlap formázás*/
.contact-form {
    max-width: 50%;
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    border: 3px solid transparent;
    border-radius: 4px;
    background:  linear-gradient(135deg, #ff3f98, #ff9d2f, #ffd43b) border-box;
    align-items: center;
    font-family: inherit;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid ;
    font-size: 0,5rem;
}
.contact-form textarea {
    resize: vertical;
}
.contact-form input:focus, .contact-form textarea:focus{
    outline: none;
    border-color: blue;
}

/*gyakori kérdések*/
.q-btn{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--text-color);
}
.q-modal{
    bottom: 0px;
    left: 105px;
    right: 50px;
    position: absolute;
    border: 2px solid rgba(216, 9, 76);
    background: rgba(232, 232, 147);
    opacity: 0.5;
}

.faq{
    position: relative;
}
.kerdes{
    cursor: pointer;
}
.kerdes:hover{
    color: #ff6b45;
}

footer p{
    color: var(--text-color);
}