.koncert-list {
    margin-top: 4rem;
    padding: 40px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    max-width: 850px;
}

@media (min-width: 768px){
    .koncert-list{
        padding: 24px;
        
    }
}

.koncert {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 12px;
    color: var(--title-color);
    background-color:  #1a1a24;
   border: 1px solid rgba(255, 255, 255, .08);
   margin-bottom: 1px;
}

.koncert:hover {
    transform: translateX(5px);
    border-color: var(--text-color);
}

h3 {
    color: var(--text-color);
    margin-bottom: 10px;
}

#showMoreBtn {
    cursor: pointer;
    justify-content: center;
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}

.koncertInfo,  .ticket, .ticket-error{
    cursor: pointer;
}




.felsoSor{

    display:flex;

    justify-content:space-between;
    
    align-items:center;
}

.gombok{

    display:flex;

    gap:10px;
}
.adatok{
    margin-top:15px;
    padding-top:15px;

    border-top:1px solid rgba(255,255,255,.08);

    color:#cfcfcf;

    line-height:1.6;
}

#moreKoncert {
    
    width: 100%;
    
}

.ticket-nem {
    display: flex;
    cursor: pointer;
}