* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #f2efef; /*világos háttérszín*/
    --surface-color: #34c8e8; /*kártyák háttere*/
    --primary-color: #ff3f98; /*elsődleges szín*/
    --text-color: #ffd43b; /*szöveg színe*/
    --text-muted: #ff9d2f; /*halványított szöveg*/
    --title-color: #ff6b45; /*cím szín*/
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*betűtipus*/
}

body {
    overflow-x: hidden;
}

td, th{
    border: 1px solid black;
    text-align: center;
}